
<h4> Your Question ----  <%= @question %> ----</h4>

<h3> Coach Answer: <%= @answer %> </h3>

 <%# display the question you ask your coach as well as his answer.  %>
<%# <h3> <%= params[:name] %8> </h3> - dont do this bec its html and you shouldwrite as little ruby here as possible. %>
